/*header*/
header{
    width: 100%;
    height: 6vh;
    padding-left: 3vw;
    line-height: 6vh;
    position: fixed;
    z-index: 9999;
    top:0;
    background: rgba(0,0,0,0.4);
}
header>h1{
    letter-spacing: .2vw;
}
header>ul{
    width: 35%;
    margin-right: 3vw;
    font-size: 0;
}
header>ul>li{
    font-size: 1vw;
    float: left;
    width: 20%;
    cursor: pointer;
    transition: all .3s;
}
header>ul>li:hover{
    background: #4b4b4b;
    font-size: 2vw;
    transform: scale(1.2);
    box-shadow: 0 0 5px black;
    margin-top: .5vw;
}

/*Home*/
.Home{
    background: #cbcbcb;
    position: relative;
}
.title{
    width: 30vw;
    height: 40vw;
    margin: 7vw auto 0;
}
.title>img{
    width:20vw;
    height: 20vw;
    margin: 0 auto;
    border-radius: 50%;
    transition: all .7s .2s;
    animation: bor 1.8s ease infinite;
}
@keyframes bor {
    0%{box-shadow: 0 0 .7vw black;}
    50%{box-shadow: 0 0 3vw black}
    100%{box-shadow: 0 0 .7vw black}
}
.title>img:hover{
    width:30vw;
    height: 20vw;
    border-radius: 1vw;
    transform: scale(1.2);
}
.title>.fo7{
    margin: 1vw 0;
}
.down{
    width: 4vw;
    height: 4vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -2vw;
    background: url("../images/xia.png") no-repeat;
    background-size: 100%;
    animation: down 1.5s linear infinite;
}
@keyframes down {
    0%{bottom: 10%}
    25%{bottom: 8%}
    50%{bottom: 10%}
    75%{bottom: 12%}
    100%{bottom: 10%}
}

/*Interest*/
.Interest{
    background: #a4a4a4;
    position: relative;
}
.Interest>ul{
    width:26vw;
    margin-left: -26.7vw;
}
.Interest>ul>li{
    width: 23vw;
    height: 30vw;
    position: absolute;
    margin-left: 2.6vw;
    font-size: 1.5vw;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;

    -webkit-box-shadow: 0 0 1vw black;
    -moz-box-shadow: 0 0 1vw black;
    box-shadow: 0 0 1vw black;
    overflow: hidden;
}
.Interest>ul>li>img{
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.Interest>ul>li>p{
    text-align: center;
    width: 100%;
    height: 30%;
    position: relative;
    top: 0;
    padding-top: 1vw;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

}
.Interest>ul>li:hover{
    border: 2px solid #369aff;
}

.Interest>ul>li:hover img{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.Interest>ul>li:hover p{
    top: -7vw;
    background: rgba(0, 0, 0, 0.8);

}
.Interest>.btn{
    width: 15%;
    height: 7%;
    display: block;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -7%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
    cursor: pointer;
    overflow: hidden;
}

/*Skill*/
.skill{
    background: #8a8a8a;
}
.skill>ul{
    width: 75vw;
    height: 34vw;
    margin: 3vw auto 0;
}
.skill>ul>li{
    float: left;
    width: 25vw;
    height: 17vw;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    position: relative;
    background: rgba(255,255,255,0.2);
}
.skill>ul>li>h3{
    padding: 0.7vw 0;
    font-size: 3vw;
}
.skill>ul>li>p{
    font-size: 2vw;
    color: white;
}
.skill>ul>li>div{
    height: 3vw;
    background: rgba(0,0,0,.35);
    position: absolute;
    bottom: 0;
}





/*每个li 的动画效果*/
.skill>ul>li:nth-child(1){
    color: #f87617;
    transform-origin: right bottom;
    animation: a1 1.4s linear;
}
.skill>ul>li:nth-child(2){
    color: #2973f8;
    animation: a2 1.4s linear;
}
.skill>ul>li:nth-child(3){
    color: #db2a1c;
    transform-origin: left bottom;
    animation: a3 1.4s linear;
}
.skill>ul>li:nth-child(4){
    color: #d83681;
    transform-origin: right top;
    animation: a4 1.4s linear;
}
.skill>ul>li:nth-child(5){
    color: #0dbd0d;
    animation: a5 1.4s linear;
}
.skill>ul>li:nth-child(6){
    color: #755aa1;
    transform-origin: left top;
    animation: a6 1.4s linear;
}



/*动画*/
@keyframes a1 {
    0%{transform: rotate(50deg)}
    100%{transform: rotate(0deg)}
}
@keyframes a2 {
    0%{transform: rotateY(0deg);opacity: 0}
    100%{transform: rotateY(360deg);opacity: 1}
}
@keyframes a3 {
    0%{transform: rotate(-50deg)}
    100%{transform: rotate(0deg)}
}
@keyframes a4 {
    0%{transform: rotate(-50deg)}
    100%{transform: rotate(0deg)}
}
@keyframes a5 {
    0%{transform: rotateY(0deg);opacity: 0}
    100%{transform: rotateY(360deg);opacity: 1}
}
@keyframes a6 {
    0%{transform: rotate(50deg)}
    100%{transform: rotate(0deg)}
}





/*item*/
.item{
    background: #707070;
    position:relative;
}
.item>ul{
    float: left;
    position: relative;
    left: 50%;
    margin-top: 3vw;
}
.item>ul>li{
    width: 18vw;
    height: 30vw;
    box-sizing: border-box;
    border: .4vw solid #333333;
    float: left;
    position: relative;
    left: -50%;
    margin: 0 .7vw;
    overflow: hidden;
    box-shadow: 0 0 1vw #000;
}
.item>ul>li>div,.item>ul>li>p{
    width: 100%;
    background: rgba(30, 30, 30, 0.8);
    transition: all .5s;
}
.item>ul>li>div{
    height: 40%;
    position: absolute;
    top: -40%;
    line-height: 13vw;
}
.item>ul>li>p{
    height: 40%;
    position: relative;
    top: 0;
    padding-top: 2vw;
}
.item>ul>li>img{
    width: 100%;
    height: 100%;
}
.item li:hover>div{
    top: 0;
}
.item li:hover>p{
    top: -40%;
}
.item>.showBigPic{
    width: 70vw;
    height: 40vw;
    position: fixed;
    z-index: 9000;
    left: 15%;
    box-sizing: border-box;
    box-shadow: 0 0 40px 5px black;
}

/*显示大图片的动画---出现和隐藏*/
@keyframes showFadeIn {
    0%{top: -90%}
    100%{top: 10%}
}
@keyframes showFadeOut {
    0%{top: 10%}
    100%{top: -90%}
}
.showBigPic .close{
    width: 100%;
    height: 5%;
    background: #0E183A;
}
.showBigPic .close>p{
    width: 2vw;
    height: 2vw;
    float: right;
    background: red;
    line-height: 1.6vw;
    cursor: pointer;
}
.showBigPic .bigPic{
    width: 100%;
    height: 95%;
    overflow: auto;
}
.showBigPic img{
    width: 100%;
}


/*Contact*/
.Contact{
    background: #515151;
    position: relative;
}
.Contact>ul{
    width: 81vw;
    height: 30vw;
    margin: 3vw auto 0;
    font-size: 0;
}
.Contact>ul>li{
    box-sizing: border-box;
    display: inline-block;
    width: 23%;
    height: 100%;
    margin: 0 1%;
    padding-top: 3vw;
    background: rgba(255,255,255,0.5);
    border-radius: 5vw;
    box-shadow: 0 0 3vw black;
    transform: scale(0);
}
.Contact>ul>li:nth-child(1){
    color: #990204;
    animation: show .5s linear forwards;
}
.Contact>ul>li:nth-child(2){
    color: #0d6f0d;
    animation: show .5s linear .3s forwards;
}
.Contact>ul>li:nth-child(3){
    color: #ae8013;
    animation: show .5s linear .6s forwards;
}
.Contact>ul>li:nth-child(4){
    color: #b25941;
    animation: show .5s linear .9s forwards;
}

@keyframes show {
    0%{ transform: scale(0)}
    100%{ transform: scale(1)}
}

.Contact>ul>li>i{
}

.Contact>ul>li>p{
    margin: 3vw 0;
    font-size: 3vw;
}
.Contact>ul>li>span{
    font-size: 2vw;
}
.add{
    width: 100%;
    position: absolute;
    bottom: 3vw;
}

/*返回向上*/
.toTop{
    width: 3vw;
    height: 3vw;
    position: fixed;
    right: 1vw;
    bottom: 2vw;
    border-radius: 50%;
    background: url("../images/totop.jpg") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

/*遮罩*/
.shade{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 8000;
    background: rgba(0,0,0,.8);
    display: none;
}