
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479032700'); /* IE9*/
  src: url('iconfont.eot?t=1479032700#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479032700') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479032700') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479032700#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-html5:before { content: "\e6a3"; }
.icon-css3:before { content: "\e68c"; }
.icon-js:before { content: "\e605"; }
.icon-jquery:before { content: "\e605"; }
.icon-a-copy:before { content: "\e66e"; }
.icon-bootstrap:before { content: "\e602"; }
.icon-qq:before { content: "\e616"; }
.icon-weixin:before { content: "\e651"; }
.icon-dianhua:before { content: "\e706"; }
.icon-email:before { content: "\e60a"; }
.icon-dizhi:before { content: "\e609"; }
